<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="margin-top: 10px">Спортсмены</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Введите ФИО">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
            <div class="card-body text-center">
                Нет результатов
            </div>
        </div>
    </div>
</div>