<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card text-center" style="margin-top: 40vh;">
                <div class="card-header">
                    <h2>Ошибка 404</h2>
                </div>
                <div class="card-body">
                    <span>Страница не найдена</span>
                    <br>
                    <button type="button" class="btn btn-info" routerLink="/login" style="margin-top: 5%;">Вернуться</button>
                </div>
            </div>
        </div>
    </div>
</div>
