<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="margin-top: 10px">Соревнования</h1>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Введите название">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
                <div class="card-body text-center">
                    Нет результатов
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Календарь
                </div>
                <div class="card-body">
                    <div class="card" *ngFor="let competition of data">
                        <div class="card-header">
                            {{competition.name}}
                        </div>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">{{competition.date}}</li>
                            <li class="list-group-item">{{competition.locationCity}}</li>
                            <li class="list-group-item">{{competition.locationPool}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
