<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Общая статистика
                </div>
                <div class="card-body">
                    На сегодняшний день наш сайт - это 5320634 результатов от 245030 спортсменов из 1110 спортивных школ и клубов, которые были показаны на 8438 соревнованиях.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Ближайшие соревнования
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            Лига плавания 4-й этап
                        </div>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">27.12.2023</li>
                            <li class="list-group-item">Санкт-Петербург</li>
                            <li class="list-group-item">Центр Плавания</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Лучшие спортсмены сезона
                </div>
                <div class="card-body">
                    <h3 class="card-title">50 брасс</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Место</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Результат</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Аллаяров Игорь Олегович</td>
                                <td>31.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

