<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="margin-top: 30vh;">
                <div class="card-header text-center">
                    <h2>Вход</h2>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onEntry()">
                        <div>
                            <label class="form-label">Логин</label>
                            <input class="form-control" type="text">
                        </div>
                        <div>
                            <label class="form-label">Пароль</label>
                            <input class="form-control" type="password">
                        </div>
                        <div>
                            <label class="form-label">Роль</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1" selected>Спортсмен</option>
                                <option value="2">Тренер</option>
                            </select>
                        </div>
                        <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary" routerLink="/home">Войти</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/signup">
                            Еще не зарегистрировались?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>