<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="margin-top: 10px">Мои тренировки</h1>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Тренировки
                </div>
                <div class="card-body">
                    Нет результатов
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Добавить тренировку
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group">
                            <span class="input-group-text">Задание</span>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Создать</button>
                            <button type="submit" class="btn btn-primary">Добавить задание</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>