<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="margin-top: 10px">Статистика соревнований</h1>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Введите название соревнования">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
                <div class="card-body text-center">
                    Нет результатов
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Рейтинг последних соревнований
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Лига плавания 4-й этап</h3>
                            <h4 class="card-subtitle mb-2 text-body-secondary">Санкт-Петербург | 27.12.2023</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">50 брасс</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Место</th>
                                        <th scope="col">ФИО</th>
                                        <th scope="col">Результат</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Аллаяров Игорь Олегович</td>
                                        <td>31.50</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
